* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 98vh;
    overflow-y: scroll;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.menu-label {
    display: block;
    background-color: #595959;
    color: #ffffff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 5px 30px;
    border: 1px solid #ccc;
    width: 85%;
    border-left: none;
    height: 98vh;
    overflow-y: scroll;
}

.content {
    padding: 21px;
    border: 0.05px solid #a6a6a6;
}

button {
    cursor: pointer;
}

.get-data, .get-data-2 {
    margin-top: 15px;
    padding: 15px;
}

#list-out {
    border: 0.05px solid #a6a6a6;
    padding: 15px;
    padding-left: 35px;
}

#list-out > li {
    font-size: 14px;
    font-family: monospace;
    color: #009933;
}

.hardware-package {
    display: table;
}

.hardware-title {
    display: table-header-group;
    text-align: center;
    font-weight: 600;
}

.hardware-row {
    display: table-row;
}

.hardware-part {
    display: table-cell;
    float: left;
    font-size: 12px;
    font-family: monospace;
}

.hardware-part.CPU {
    color: #0033cc;
}

.hardware-part.RAM {
    color: #009933;
}

.hardware-part.GPU {
    color: #ff6600;
}

.errorMessage {
    padding: 2px 5px;
    background-color: #ff0000;
    border: 0.5px solid #cc0000;
    color: #ffffff;
}

.start-data {
    display: table;
    margin-top: 15px;
    border: 0.05px solid #a6a6a6;
    padding: 15px;
}

.start-data-row {
    display: table-row;
    width: 100%;
    padding: 15px;
    border-bottom: 0.05px solid #a6a6a6;
}

.start-data-cell-1 {
    display: table-cell;
    width: 30%;
    border-top: 0.05px solid #a6a6a6;
    border-left: 0.05px solid #a6a6a6;
    border-bottom: 0.05px solid #a6a6a6;
    padding: 15px;
}

.start-data-cell-2 {
    display: table-cell;
    width: 70%;
    border: 0.05px solid #a6a6a6;
    padding: 15px;
}

.callFunction.check {
    width: 32.3%;
}

#out-type {
    width: 100%;
    padding: 5px 15px;
}

.content.bitwise {
    float: left;
    width: 100%;
    display: block;
}

.callFunction.left-menu {
    width: 60px;
    margin: 5px;
}

.button-menu-left {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 20%;
}

.output-bitwise {
    border: 1px solid #000000;
    margin: 5px 10px;
    padding: 10px;
    float: left;
    width: 74.3%;
    height: 207px;
    background-color: #b3b3b3;
}

.bitwise-header {
    margin: 5px;
    padding: 5px;
    border: 0.05px solid #a6a6a6
}

.bitwise-table {
    display: none;
    width: 100%;
    height: 145px;
}

.bitwise-table-head {
    display: table-caption;
    text-align: center;
    border: 0.3px solid #ffffff;
    color: #ffffff;
    padding: 10px;
}

.bitwise-table-row {
    display: table-row;
    border: 0.3px solid #ffffff;
    border-top: none;
    color: #ffffff;
}

.bitwise-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 0.3px solid #ffffff;
    border-top: none;
}

.bitwise-table-cell:first-child {
    border-right: none;
}

#checking-result, #checking-year {
  display: none;
}

.out-checking-res {
  display: none;
}

.fieldsets {
  margin-top: 20px;
}

.fieldsets:first-child {
  margin-top: 0;
}

.array-table, .array-table th, .array-table td, .array-table caption {
    border: 0.3px solid #a6a6a6;
}

.subtitles {
    text-align: center;
}

.array-table caption {
    border-bottom: none;
}

.array-table table {
    width: 100%;
}

.array-table th, .array-table td, .array-table caption {
    padding: 5px;
}

.array-table {
    margin-right: 10px;
}

.actions-btn {
    width: 100%;
    height: 100%;
}

.ls-operations th, .ls-operations td, .ls-operations caption {
    border: 0.3px solid #a6a6a6;
    padding: 5px;
}

.ls-operations {
    border: 0.3px solid #a6a6a6;
    width: 100%;
}

.ls-operations caption {
    border-bottom: none;
}

.ls-labels {
    text-align: center;
}

#ls-status {
    background-color: #e94b3c;
    color: #ffffff;
    text-align: center;
}

.ls-btn {
    width: 100%;
}

.json-elements th, .json-elements td, .json-elements caption, .json-elements {
    border: 0.3px solid #a6a6a6;
    padding: 5px;
    text-align: center;
}

#ls-output-table {
    display: none;
}

#uranus-img {
    width: 100px;
    height: 100px;
}

.json-elements {
    width: 100%;
}

.json-elements table {
    width: 100%;
}

.json-elements caption {
    border-bottom: none;
}

.json-actions {
    width: 100%;
    padding: 10px;
}

.json-console {
    width: 100%;
    height: 200px;
    background-color: #003300;
    color: #33ff33;
    font-family: Consolas;
}

.after-out {
    text-align: left;
}

#progressbar {
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 5px;
    position: relative;
    background-color: #001a00;
    margin: auto;
    margin-top: 10px;
    display: none;
}

#progressbar-lvl {
    background-color: #33ff33;
    height: 5px;
    position: absolute;
}

.converted-obj-table, .converted-obj-table th, .converted-obj-table td, .converted-obj-table caption {
    border: 0.3px solid #a6a6a6;
    padding: 5px;
    text-align: center;
}

.converted-obj-out {
    text-align: left;
    width: 50%;
}

.converted-obj-table caption {
    border-bottom: none;
}

.converted-obj-table, .converted-obj-btn {
    width: 100%;
}

.converted-obj-btn {
    padding: 10px;
}

.converted-date-obj, .converted-date-obj th, .converted-date-obj td, .converted-date-obj caption {
    border: 0.3px solid #a6a6a6;
    padding: 5px;
    text-align: center;
}

.converted-date-out {
    padding: 10px 20px;
    text-align: left;
    width: 50%;
}

.converted-date-obj caption {
    border-bottom: none;
}

.converted-date-obj, .converted-date-btn {
    width: 100%;
}

.converted-date-btn {
    padding: 10px;
}

.converted-server, .converted-server th, .converted-server td, .converted-server caption {
    border: 0.3px solid #a6a6a6;
    padding: 6px;
    text-align: center;
}

.converted-server-out {
    padding: 20px;
    text-align: left;
    width: 50%;
}

.converted-server caption {
    border-bottom: none;
}

.converted-server-btn {
    width: 100%;
    padding: 10px;
}

.converted-server {
    width: 100%;
}

.converted-server table {
    width: 100%;
}

.console-out {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 0.05px solid #a6a6a6;
    padding: 0;
}

.console-out h4 {
    text-align: center;
    border-bottom: 0.05px solid #a6a6a6;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 20px;
}

.console-out p {
    padding: 10px 20px;
    display: block;
}

.clothes-obj td, {
    padding: 15px;
    text-align: center;
}

.clothes-obj, .clothes-obj td {
    border: 1px solid #000000;
}

.es6-out {
    border: 1px solid #000000;
    margin: 20px 0 0 0;
    padding: 20px;
    width: 100%;
    display: none;
}

//For small devices: phones and smartphones:
@media (min-width: 576px) and (max-width: 767.99px){
    .tab {
        width: 30%;
    }

    .tabcontent {
        width: 70%;
        padding: 5px 20px;
    }

    .out-day {
        margin-top: 10px;
    }
}
